<div class="hero bg-light bg-gradient">
    <div class="row">
        <div class="hero__inner">
            <div class="col-lg-4 ratio ratio-1x1 m-5" style="max-width: 300px;">
                <img src="https://images.unsplash.com/photo-1496302662116-35cc4f36df92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="img-fluid rounded-circle cover">
            </div>
            <div class="col-lg-6 m-5">
                <h1>{{ include.h1 }}</h1>
                <p>{{ include.p }}</p>
            </div>
        <div>
    </div>
</div>