<div id="carouselExampleControls" class="carousel carousel-dark slide" data-interval="false" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ include.card-title-1 }}</h5>
            <p class="card-text">{{ include.card-text-1 }}</p>
          </div> 
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ include.card-title-2 }}</h5>
            <p class="card-text">{{ include.card-text-2 }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ include.card-title-3 }}</h5>
            <p class="card-text">{{ include.card-text-3 }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ include.card-title-4 }}</h5>
            <p class="card-text">{{ include.card-text-4 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>