<div class="cards cards__scroll-container container">
  <div class="scroller-controller">
    <div class="row scroller-controller">
      <div class="col">
        <div class="cards__card-container">
          <div class="card h-100">
            <img src="{{ include.card-image-1 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ include.card-title-1 }}</h5>
              <p class="card-text">{{ include.card-text-1 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="cards__card-container">
          <div class="card h-100">
            <img src="{{ include.card-image-2 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ include.card-title-2 }}</h5>
              <p class="card-text">{{ include.card-text-2 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="cards__card-container">
          <div class="card h-100">
            <img src="{{ include.card-image-3 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ include.card-title-3 }}</h5>
              <p class="card-text">{{ include.card-text-3 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="cards__card-container">
          <div class="card h-100">
            <img src="{{ include.card-image-4 }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ include.card-title-4 }}</h5>
              <p class="card-text">{{ include.card-text-4 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>